@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,b,p,th,td,dl,dd,form,fieldset,em,legend,input,textarea,select{
	margin:0;
    padding:0;
    text-align:center;
}
i,em{
	font-style:normal;	
}
li{
	list-style:none;	
}
a{
	color:#6c6c6c;
	font-size:12px;	
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
}
img{
	border:0;
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}
h1,h2,h3,h4,h5,h6,b,strong,i,em,u{
	font-size: 12px;
	text-decoration: none;
}

.container{
    background:gray;
    width:360px;
    height:430px;
    border:1px solid #000;
}
.screen{
    background:lightgray;
    font-size:30px;
    text-align:right;
    line-height:60px;
    box-sizing:border-box;
    border:1px solid #000;
    width:320px;
    height:60px;
    padding-right:10px;
    margin:10px auto;
}
.keyboard{
    background:gray;
    display:block;
    width:360px;
    height:310px;
    padding:0px auto 10px auto;
}
.row{
    display:block;
    width:340px;
    height:62px;
    margin:0px auto;
    padding:0px auto;
}
.col{
    line-height:60px;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    background:#f40;
    float:left;
    width:66px;
    height:60px;
    margin:1px;
    padding:0px auto;
}
.title{
    width:360px;
    height:20px;
    margin:0px auto;
}